service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:im="urn:com.imasters/forum"
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  name="news"
				  targetNamespace="urn:com.imasters/forum">

	<wsdl:types>
		<xsd:schema targetNamespace="urn:com.imasters/forum">
			<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			
			<xsd:element name="datetime" type="xsd:dateTime" nillable="true" />
			<xsd:element name="feed" type="im:ArrayOfTopic" />
			<xsd:element name="authentication" type="im:User"/>

			<xsd:complexType name="ArrayOfTopic">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="im:Topic" />
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="Topic">
				<xsd:sequence>
					<xsd:element name="title" type="xsd:string" />
					<xsd:element name="datetime" type="xsd:dateTime" />
					<xsd:element name="content" type="xsd:normalizedString" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="User">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:normalizedString" />
					<xsd:element name="pswd" type="xsd:normalizedString" />
					<xsd:element name="token">
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:length value="40"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="authenticationHeader">
		<wsdl:part element="im:authentication" name="authentication"/>
	</wsdl:message>

	<wsdl:message name="getNewsRequest">
		<wsdl:part element="im:datetime" name="request" />
	</wsdl:message>
	<wsdl:message name="getNewsResponse">
		<wsdl:part element="im:feed" name="response" />
	</wsdl:message>

	<wsdl:portType name="service">
		<wsdl:operation name="getNews">
			<wsdl:input message="im:getNewsRequest" />
			<wsdl:output message="im:getNewsResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="serviceSOAP" type="im:service">
		<soap:binding style="document"
					  transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="getNews">
			<soap:operation soapAction="urn:com.imasters/forum/getNews" />
			<wsdl:input>
				<soap:header use="literal"
							 part="authentication"
							 message="im:authenticationHeader"
							 wsdl:required="true"/>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="service">
		<wsdl:port binding="im:serviceSOAP" name="serviceSOAP">
			<soap:address location="http://127.0.0.3/soap/service.php" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
